<!DOCTYPE html>
<html>
<head>
  <title>Fortune</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
</head>
<body>

<%= yield %>

<a href="/visit">Visit page</a> ||
<a href="/lotto">Lotto page</a> ||
<a href="/bottles">99 bottles of beer on the wall</a> ||
<a href="/fortune">Fortune page</a> ||
<a href="/table">Table page</a>


</body>
</html>
